body{
    background-image: url(../img/imagenfondocarta.jpg);
}
.container-fluid{
    background-color:#fff;
    font-size: 25px;
    display: flex;
    justify-content:flex-end;
}
#menu{
    text-decoration: none;
    color: black;
}