body{
    background-image: url(../img/imagenfondocarta.jpg);
}
.container-fluid{
    font-size: 20px;
}
#menu{
    text-decoration: none;
    color: black;
}
#footer {
    display: flex;
    font-size: 20px;
    margin: 640px 40px 0px 0px;
    text-decoration:none;
    font-style: italic;
    background-color: padding-box;
    justify-content: end;
    background-color: rgb(238, 239, 240);
    border-radius: 12PX;
}
#hel{
    height: 490px;
    border:3px solid black;
    border-radius: 45px;
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #9befef;
    opacity: 85%;
    border-radius: 5px;
}
h3{
    font-size: 18px;
    font-weight: bold;
    background-color: #9befef;
    opacity: 85%;
    border-radius: 5px;
}
p{
    font-size: 18px;
    font-weight: bold;
    background-color: #9befef;
    opacity: 85%;
    border-radius: 5px;
}
#bola{
    height: 220px;
    width: 420px;
    border-radius: 45px;
    opacity: 90%;
    border: 3px solid black;
}
#dosbolas{
    height: 220px;
    width: 420px;
    border-radius: 45px;
    opacity: 90%;
    border: 3px solid black;
}
#tresbolas{
    height: 220px;
    width: 420px;
    border-radius: 45px;
    opacity: 90%;
    border: 3px solid black;
}
#banana{
    height: 220px;
    width: 420px;
    border-radius: 45px;
    opacity: 90%;
    border: 3px solid black;
}
