body {
    background-image: url(../img/imagenfondocontacto.jpg);
}

#menu {
    text-decoration: none;
    color: black;
}
#footer {
    font-size: 20px;
    margin: 640px 40px 0px 0px;
    text-decoration-line: none;
    font-style: italic;
    background-color: rgb(238, 239, 240);
    border-radius: 12PX;
    top: -100px;
}
#formulario{
    border: 5px solid black;
    padding: 10px;
    background-color: #9befef;
    opacity: 85%;
    margin: 20px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}