body{
    background-image: url(../img/imagenfondocontacto.jpg);
}
#menu{
    text-decoration: none;
    color: black;
}
#formulario{
    height: 50%;
    width: 50%;
}
#subject{
    height: 150px;
    width: 150px;
}
#submit{
    top: 150px;
}
#footer {
    display: flex;
    font-size: 20px;
    margin: 640px 40px 0px 0px;
    text-decoration:none;
    font-style: italic;
    background-color: padding-box;
    justify-content: end;
    background-color: rgb(238, 239, 240);
    border-radius: 12PX;
}
#formulario {
    border: 5px solid;
    border-radius: 9px;
    padding: 5px;
    color: #720606;
    margin-left: 10%;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 270px;
    background-color: antiquewhite;
    opacity: 82%;
}
