body{
    background-image: url(../img/7a19c0e85ab3eaa85eb53acf84852c5d.jpg);
    
}
#menu{
    text-decoration: none;
    color: black;
}
#footer {
    display: flex;
    font-size: 20px;
    margin: 180px 40px 0px 0px;
    text-decoration:none;
    font-style: italic;
    background-color: padding-box;
    justify-content: end;
    background-color: rgb(238, 239, 240);
    border-radius: 12PX;
}
#logo{
    border: 3px solid black;
    border-radius: 100%;
    margin-top: 40%;
    width: 300px;
    height: 300px;
    top: 200%;
    left: 50%;
    box-shadow: 5px 5px 5px 5px rgb(76, 76, 76);
}
.col-12{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#home{
    display: flex;
    justify-items: first baseline;
}