body{
    background-image: url(../img/7a19c0e85ab3eaa85eb53acf84852c5d.jpg);
}
.container-fluid{
    background-color: #87e2f9;
    font-size: 25px;
    display: flex;
    justify-content:flex-end;
}
#menu{
    text-decoration: none;
    color: black;
}

form {
    border: 5px solid;
    border-radius: 9px;
    padding: 5px;
    color: #d60000;
    margin-left: 10%;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 30%;
    height: 400px;
    background-color: #87e2f9;
}
#formulario{
    height: 50%;
    width: 50%;
}
#subject{
    height: 150px;
    width: 150px;
}
#submit{
    top: 150px;
}
